<p-toast></p-toast>
<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="flex flex-column align-items-center justify-content-center">
        <p-image
            src="assets/icon/ESMERALDAS_LA_BELLA.png"
            alt="Image"
            width="350"
            class="mb-5"
        ></p-image>
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-8 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <div class="text-center mb-5">
                    <p-avatar
                        size="xlarge"
                        shape="circle"
                        [style]="{ width: '9rem', height: '9rem' }"
                    >
                        <img
                            [src]="'assets/icon/silueta.png'"
                            alt="Image"
                            height="150"
                            class="mb-3"
                        />
                    </p-avatar>
                    <div class="text-900 text-3xl font-medium mb-3">
                        <span> ¡Hola, </span>
                        <span>Recuperación de Clave</span>
                    </div>
                    <span class="text-600 font-medium">
                        Ingresa tu correo electrónico para recuperar tu
                        contraseña
                    </span>
                </div>

                <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
                    <label
                        for="correo"
                        class="block text-900 text-xl font-medium mb-2"
                        >Correo</label
                    >
                    <input
                        id="correo"
                        type="email"
                        formControlName="correo"
                        placeholder="Correo Electrónico"
                        pInputText
                        class="w-full md:w-30rem mb-5"
                        style="padding: 1rem"
                    />

                    <div class="form-group">
                        <re-captcha
                            (resolved)="resolved($event)"
                            siteKey="6LcXafYpAAAAAMm5GsMJwhowIWLfo47e-9vqVTU3"
                        ></re-captcha>
                        <div
                            *ngIf="submitted && !recaptchaVerified"
                            class="invalid-feedback"
                        >
                            Verificación de robot es requerida
                        </div>
                    </div>

                    <div class="flex flex-column align-items-center m-5">
                        <button
                            pButton
                            pRipple
                            label="Enviar"
                            class="w-full p-3 text-xl"
                            type="submit"
                            [rounded]="true"
                        ></button>
                    </div>
                    <div
                        class="flex align-items-center justify-content-end mb-5 gap-5"
                    >
                        <a
                            class="font-medium no-underline ml-2 text-right cursor-pointer"
                            style="color: var(--primary-color)"
                            [routerLink]="'/auth/login'"
                            >Regresar</a
                        >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
