<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
        
        

        <div class="card">
            <p-stepper [linear]="true">
                <p-stepperPanel header="Incidentes por Barrio">
                    <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                        <div class="flex pt-4 justify-content-end">
                            <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
                        </div>
                        <div class="flex flex-column">
                            <app-stack-barrios></app-stack-barrios>
                        </div>
                      
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Incidentes por categoria">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                        <div class="flex pt-4 justify-content-between">
                            <p-button label="Regresar" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                            <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
                        </div>
                        <div class="flex flex-column">
                            <app-stack-incidentes></app-stack-incidentes>
                        </div>
                        
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel  header="Ficha Sectorial por Barrio">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                        <div class="flex pt-4 justify-content-between">
                            <p-button label="Regresar" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                            <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
                        </div>
                        <div class="flex flex-column">
                            <app-stackbarrioficha></app-stackbarrioficha>
                        </div>
                        
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Ficha Sectorial por actividad">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                        <div class="flex pt-4 justify-content-start">
                            <p-button label="Regresar" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                        </div>
                        <div class="flex flex-column">
                            <app-stack-fichas></app-stack-fichas>
                        </div>
                    </ng-template>
                </p-stepperPanel>
            </p-stepper>
        </div>

    </div> 


    </div>
</div>