<div class="card">
    <p-splitter  [style]="{ height: '100px' }" styleClass="mb-5">
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center"><button (click)="previoDataFeature()">Anterior</button></div>
        </ng-template>
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <button (click)="dataFeature()">Actual</button>
                <button (click)="filtrar()">Ranking</button>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center"><button (click)="postDataFeature()">Siguiente</button></div>
        </ng-template>
    </p-splitter>
    <p-chart type="bar" [data]="basicData" [options]="basicOptions" ></p-chart>
</div>