<p-dialog header="Header" [modal]="false" [(visible)]="vermodal" [position]="'bottom'"  [style]="{width: '50vw'}" [maximizable]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <ng-template pTemplate="header">
      <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center gap-2">
          <span class="font-bold white-space-nowrap mb-2">Listado de Ficha Técnica:</span> <span class="font-bold white-space-nowrap mb-2">{{valor}}</span> 
          <div class="d-flex flex-row align-items-center justify-content-center flex-wrap">
              <a class="btn btn-primary me-2 mb-2" *ngIf="check.IndexEstadoIncidenteComponent"  (click)="llamarmodal()">
                  <i class="bi bi-substack"></i>Actividades</a>                
          </div>          
      </div>
  </ng-template>
    <p-table styleClass="p-datatable-striped"
    #dt1
    [value]="incidentesDenuncias"
    dataKey="_id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="load_lista"
    [paginator]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [globalFilterFields]="['direccion_geo.nombre', 'categoria.nombre', 'subcategoria.nombre', 'ciudadano.nombres', 'estado.nombre']"
    [sortMode]="'multiple'"
    >
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
            </span>
            
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:3rem">#</th>
            <th style="min-width:10rem">
                <div class="flex align-items-center">
                    Categoría
                    <p-columnFilter type="text" field="categoria.nombre" display="menu"></p-columnFilter>
                    <th pSortableColumn="categoria.nombre" style="width:20%"><p-sortIcon field="categoria.nombre"></p-sortIcon></th>
                </div>
            </th>
            <th style="min-width:10rem">
                <div class="flex align-items-center">
                    Subcategoría
                    <p-columnFilter type="text" field="subcategoria.nombre" display="menu"></p-columnFilter>
                    <th pSortableColumn="subcategoria.nombre" style="width:20%"><p-sortIcon field="subcategoria.nombre"></p-sortIcon></th>
                </div>
            </th>
            <th style="min-width:15rem">
                <div class="flex align-items-center">
                    Ciudadano
                    <p-columnFilter type="text" field="ciudadano.nombres" display="menu"></p-columnFilter>
                    <th pSortableColumn="ciudadano.nombre" style="width:20%"><p-sortIcon field="ciudadano.nombre"></p-sortIcon></th>
                </div>
            </th>
            <th style="min-width:7rem">
                <div class="flex align-items-center">
                    Estado
                    <p-columnFilter type="text" field="estado.nombre" display="menu"></p-columnFilter>
                    <th pSortableColumn="estado.nombre" style="width:20%"><p-sortIcon field="estado.nombre"></p-sortIcon></th>
                </div>
            </th>
            <th style="min-width:10rem">
              <div class="flex align-items-center">
                  Foto
              </div>
            </th>
            <!-- Agrega las columnas restantes según tu necesidad -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-incidente let-rowIndex="rowIndex">
        <tr>
            <td  (click)="isMobil()&&openModal(modalContent)">{{rowIndex+1}}</td>  
            <td>
                {{ incidente.categoria.nombre }}
            </td>
            <td>
                {{ incidente.subcategoria.nombre }}
            </td>
            <td>
                {{ incidente.ciudadano.nombres }}
            </td>
            <td>
                <p-tag [value]="incidente.estado.nombre" [severity]="getSeverity(incidente.estado.nombre)"></p-tag>
            </td>
            <td (click)="stopPropagation($event);displayBasic=true"  >
              <img [src]="url + 'helper/obtener_portada/' + incidente.foto[0]" class="navbar-brand-img mx-auto" style="max-height: 4rem !important; cursor: pointer;" alt="..." 
              (click)="openModalimagen(incidente.foto); this.displayBasic=true;" />
            </td>
            <!-- Agrega las columnas restantes según tu necesidad -->
            <!-- Agrega el modal al final del componente -->
          <ng-template #modalContent let-modal>
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Detalles de la Ficha Sectorial</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
              </div>
              <div class="modal-body">
                <!-- Contenido del modal -->
                <p><strong>Categoría:</strong> {{ incidente.categoria.nombre }}</p>
                <p><strong>Subcategoría:</strong> {{ incidente.subcategoria.nombre }}</p>
                <p (click)="irMap(incidente.direccion_geo,$event)"><strong>Dirección Geográfica:</strong> {{ incidente.direccion_geo.nombre }}</p>                                      
                <p><strong>Estado:</strong> <span [ngClass]="'badge text-bg-' + checkstatus[incidente.estado.orden]">{{ incidente.estado.nombre }}</span></p>
                <p><strong>Ciudadano:</strong> {{ incidente.ciudadano.nombres }}</p>
                <p><strong>Descripción:</strong> {{ incidente.descripcion }}</p>
                <p><strong>Respuesta:</strong><ng-container *ngIf="incidente.respuesta">{{ incidente.respuesta }}</ng-container> <ng-container *ngIf="!incidente.respuesta">--</ng-container></p>                                     
                <p><strong>Encargado:</strong><ng-container *ngIf="incidente.encargado">{{ incidente.encargado.nombres }}</ng-container> <ng-container *ngIf="!incidente.encargado">--</ng-container></p>                             
            </div>                          
            </div>
          </ng-template>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No se encontraron incidentes.</td>
        </tr>
    </ng-template>
    </p-table>

</p-dialog>  
  
  <ng-container *ngIf="modal==false">
    <div class="wrapper">
      <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
      </div>
      <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="main-content">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-lg-auto">
                  <h2>Listado de incidente/Denuncia </h2>
                </div>
                <div class="col-sm-auto">
                  <a class="btn btn-primary float-end" *ngIf="check.IndexEstadoIncidenteComponent" (click)="llamarmodal()"><i class="bi bi-substack"></i></a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p-table styleClass="p-datatable-striped"
                    #dt1
                    [value]="incidentesDenuncias"
                    dataKey="_id"
                    [rows]="10"
                    [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[10, 25, 50]"
                    [loading]="load_lista"
                    [paginator]="true"
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                    [globalFilterFields]="['direccion_geo.nombre', 'categoria.nombre', 'subcategoria.nombre', 'ciudadano.nombres', 'estado.nombre']"
                    [sortMode]="'multiple'"
                    >
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <button pButton label="" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                            </span>
                            
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:3rem">#</th>
                            <th style="min-width:10rem">
                                <div class="flex align-items-center">
                                    Dirección
                                    <p-columnFilter type="text" field="direccion_geo.nombre" display="menu"></p-columnFilter>
                                    <th pSortableColumn="direccion_geo.nombre" style="width:20%"><p-sortIcon field="direccion_geo.nombre"></p-sortIcon></th>
                                </div>
                            </th>
                            <th style="min-width:10rem">
                                <div class="flex align-items-center">
                                    Categoría
                                    <p-columnFilter type="text" field="categoria.nombre" display="menu"></p-columnFilter>
                                    <th pSortableColumn="categoria.nombre" style="width:20%"><p-sortIcon field="categoria.nombre"></p-sortIcon></th>
                                </div>
                            </th>
                            <th style="min-width:10rem">
                                <div class="flex align-items-center">
                                    Subcategoría
                                    <p-columnFilter type="text" field="subcategoria.nombre" display="menu"></p-columnFilter>
                                    <th pSortableColumn="subcategoria.nombre" style="width:20%"><p-sortIcon field="subcategoria.nombre"></p-sortIcon></th>
                                </div>
                            </th>
                            <th style="min-width:15rem">
                                <div class="flex align-items-center">
                                    Ciudadano
                                    <p-columnFilter type="text" field="ciudadano.nombres" display="menu"></p-columnFilter>
                                    <th pSortableColumn="ciudadano.nombre" style="width:20%"><p-sortIcon field="ciudadano.nombre"></p-sortIcon></th>
                                </div>
                            </th>
                            <th style="min-width:7rem">
                                <div class="flex align-items-center">
                                    Estado
                                    <p-columnFilter type="text" field="estado.nombre" display="menu"></p-columnFilter>
                                    <th pSortableColumn="estado.nombre" style="width:20%"><p-sortIcon field="estado.nombre"></p-sortIcon></th>
                                </div>
                            </th>
                            <th style="min-width:10rem" *ngIf="!isMobil()">
                              <div class="flex align-items-center">
                                  Descripción
                                  <p-columnFilter type="text" field="descripcion" display="menu"></p-columnFilter>
                                  <th pSortableColumn="descripcion" style="width:20%"><p-sortIcon field="descripcion"></p-sortIcon></th>
                              </div>
                            </th>
                            <th style="min-width:10rem" *ngIf="!isMobil()">
                              <div class="flex align-items-center">
                                  Encargado
                                  <p-columnFilter type="text" field="encargado.nombre" display="menu"></p-columnFilter>
                                  <th pSortableColumn="encargado.nombre" style="width:20%"><p-sortIcon field="encargado.nombre"></p-sortIcon></th>
                              </div>
                            </th>
                            <th style="min-width:10rem" *ngIf="!isMobil()">
                              <div class="flex align-items-center">
                                  Respuesta
                                  <p-columnFilter type="text" field="respuesta" display="menu"></p-columnFilter>
                                  <th pSortableColumn="respuesta" style="width:20%"><p-sortIcon field="respuesta"></p-sortIcon></th>
                              </div>
                            </th>
                            <th style="min-width:10rem">
                              <div class="flex align-items-center">
                                  Foto
                              </div>
                            </th>
                            <!-- Agrega las columnas restantes según tu necesidad -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-incidente let-rowIndex="rowIndex">
                        <tr>
                            <td  (click)="isMobil()&&openModal(modalContent)">{{rowIndex+1}}</td>  
                            <td>
                                {{ incidente.direccion_geo.nombre }}
                            </td>
                            <td>
                                {{ incidente.categoria.nombre }}
                            </td>
                            <td>
                                {{ incidente.subcategoria.nombre }}
                            </td>
                            <td>
                                {{ incidente.ciudadano.nombres }}
                            </td>
                            <td>
                                <p-tag [value]="incidente.estado.nombre" [severity]="getSeverity(incidente.estado.nombre)"></p-tag>
                            </td>
                            <td *ngIf="!isMobil()">{{ incidente.descripcion }}</td>
                            <td *ngIf="!isMobil()"><ng-container *ngIf="incidente.encargado">{{ incidente.encargado.nombres }}</ng-container> <ng-container *ngIf="!incidente.encargado">--</ng-container> </td>
                            <td *ngIf="!isMobil()"> <ng-container *ngIf="incidente.respuesta">{{ incidente.respuesta }}</ng-container> <ng-container *ngIf="!incidente.respuesta">--</ng-container> </td>
                            <td (click)="stopPropagation($event);displayBasic=true"  >
                              <img [src]="url + 'helper/obtener_portada/' + incidente.foto[0]" class="navbar-brand-img mx-auto" style="max-height: 4rem !important; cursor: pointer;" alt="..." 
                              (click)="openModalimagen(incidente.foto); this.displayBasic=true;" />
                            </td>
                            <!-- Agrega las columnas restantes según tu necesidad -->
                             <!-- Agrega el modal al final del componente -->
                          <ng-template #modalContent let-modal>
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Detalles de la Ficha Sectorial</h4>
                                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
                              </div>
                              <div class="modal-body">
                                <!-- Contenido del modal -->
                                <p><strong>Categoría:</strong> {{ incidente.categoria.nombre }}</p>
                                <p><strong>Subcategoría:</strong> {{ incidente.subcategoria.nombre }}</p>
                                <p (click)="irMap(incidente.direccion_geo,$event)"><strong>Dirección Geográfica:</strong> {{ incidente.direccion_geo.nombre }}</p>                                      
                                <p><strong>Estado:</strong> <span [ngClass]="'badge text-bg-' + checkstatus[incidente.estado.orden]">{{ incidente.estado.nombre }}</span></p>
                                <p><strong>Ciudadano:</strong> {{ incidente.ciudadano.nombres }}</p>
                                <p><strong>Descripción:</strong> {{ incidente.descripcion }}</p>
                                <p><strong>Respuesta:</strong><ng-container *ngIf="incidente.respuesta">{{ incidente.respuesta }}</ng-container> <ng-container *ngIf="!incidente.respuesta">--</ng-container></p>                                     
                                <p><strong>Encargado:</strong><ng-container *ngIf="incidente.encargado">{{ incidente.encargado.nombres }}</ng-container> <ng-container *ngIf="!incidente.encargado">--</ng-container></p>                             
                            </div>                          
                            </div>
                          </ng-template>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="5">No se encontraron incidentes.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>     
        </div> 
  
        <div>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </ng-container>
  

  
 
    <p-galleria [value]="imagenModal" [(visible)]="displayBasic" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '50%'}" [numVisible]="9"
        [circular]="true" [fullScreen]="true" [showItemNavigators]="true">
        <ng-template pTemplate="item" let-item>
            <img [src]="url + 'helper/obtener_portada/' + item" style="width: 100%; display: block;"/>
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
                <img [src]="url + 'helper/obtener_portada/' + item" style="display: block;"  style="width: 30%;"/>
            </div>
        </ng-template>
    </p-galleria>

  
  <!-- <div class="py-2">
     <ng-template #contentimage let-modal>
    <p-galleria [value]="imagenModal" [thumbnailsPosition]="'bottom'" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5">
      <ng-template pTemplate="item" let-item>
          <img  [src]="url + 'helper/obtener_portada/' + item" style="width: 100%; min-height: 420px; display: block;" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="url + 'helper/obtener_portada/' + item" style="width: 30%;"/>
        </div>
    </ng-template>
  </p-galleria> 
        <p-button type="button" icon="pi pi-minus" (click)="prev()" styleClass="p-button-secondary mr-2"></p-button>
        <p-button type="button" icon="pi pi-plus" (click)="next()" styleClass="p-button-primary"></p-button>
            
  </ng-template>
    </div>-->
