<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" [class.active]="selected === 1" aria-current="page" href="javascript:void(0)" (click)="selected=1">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="selected === 2" href="javascript:void(0)" (click)="selected=2">Roles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="selected === 3" href="javascript:void(0)" (click)="selected=3">Encargos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="selected === 4" href="javascript:void(0)" (click)="selected=4">Permisos</a>
              </li>
          </ul>
        <app-index-usuario *ngIf="selected==1"></app-index-usuario>
        <app-index-rol-user *ngIf="selected==2"></app-index-rol-user>
        <app-index-encargado-categoria *ngIf="selected==3"></app-index-encargado-categoria>
        <app-index-permisos  *ngIf="selected==4"></app-index-permisos>

    </div> 

    <div>
        <app-footer></app-footer>
    </div>
    </div>
</div>