/* Estilos para el encabezado fijo de la tabla */
.table-fixed thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff; /* Color de fondo del encabezado */
}

/* Estilos para las celdas de la tabla */
.table-fixed td {
    position: relative;
    z-index: 0;
}

@media (max-width: 767px) {
    .card .card-body {
        padding: 0rem 2px !important;
        position: relative;
    }
}
@media (max-width: 767.98px) { 
    
    .main-panel .main-content {
      bottom: 70px !important;
      margin-top: 0px;
      padding: 10px 0px;
    }
  }
  .custom-modal {
    z-index: 1200 !important;
  }
  