<ng-container *ngIf="model">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Nueva Ficha Sectorial</h2>
      <button type="button" class="btn-close" aria-label="Close" (click)="DimissModal()"></button>
    </div>

     <div class="modal-body">
      <p-toast></p-toast>
      <ng-container  *ngIf=" load_form" >
        <form [formGroup]="fichaSectorialForm" (ngSubmit)="registrarFichaSectorial()">
          <div class="mb-3">
            <label for="direccion_geo" class="form-label">Dirección Geográfica</label>
            <input type="text" class="form-control" id="direccion_geo" name="direccion_geo" formControlName="direccion_geo" required readonly>
          </div>
          <div class="mb-3">
            <label for="actividad" class="form-label">Actividad de Proyecto</label>
            <select class="form-select" id="actividad" name="actividad" formControlName="actividad" required>
              <option *ngFor="let actividad of actividadesProyecto" [value]="actividad._id">{{ actividad.nombre }}</option>
            </select>
          </div> 
          <div class="mb-3">
            <label for="fecha_evento" class="form-label">Fecha del Evento</label>
            <input type="date" class="form-control" id="fecha_evento" name="fecha_evento" formControlName="fecha_evento">
          </div>
  
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" formControlName="descripcion" required>
          </div>
          
          <div class="mb-3">
            <label for="estado" class="form-label">Estado de Actividad de Proyecto</label>
            <select class="form-select" id="estado" name="estado" formControlName="estado" required>
              <option *ngFor="let estado of estadosActividadProyecto" [value]="estado._id">{{ estado.nombre }}</option>
            </select>
          </div>         
          
          <div class="mb-3">
            <label for="observacion" class="form-label">Observación</label>
            <textarea class="form-control" id="observacion" name="observacion" formControlName="observacion"></textarea>
          </div>
  
          <div class="mb-3">
  
            <p-toast></p-toast>
            <p-button label="Subir de Nuevo" severity="warning" *ngIf="!upload" (onClick)="upload=true;imagenesSeleccionadas=[];selectedFiles=[]" icon="pi pi-trash"></p-button>
            <p-fileUpload *ngIf="(imagenesSeleccionadas.length==0||upload )&& !isMobil()" 
            chooseLabel="Seleccionar" uploadLabel="Cargar" cancelLabel="Cancelar" 
            name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onFilesSelected($event)" [multiple]="true" accept="image/*"  [maxFileSize]="5000000" [fileLimit]="3"
            invalidFileLimitMessageSummary="Se superó el número máximo de archivos">
                <ng-template pTemplate="content">
                    <ul *ngIf="selectedFiles.length">
                        <li *ngFor="let itemfile of selectedFiles;let i = index"> {{ itemfile.name }} - {{ itemfile.size }} bytes</li>
                    </ul>
                  
                </ng-template>
            </p-fileUpload>                 
          </div> 
  
          <div class="mb-3">
  
            <p-galleria [value]="imagenesSeleccionadas" *ngIf="load_carrusel&&load_form" [showIndicators]="true" [showThumbnails]="false" [showIndicatorsOnItem]="true" indicatorsPosition="left" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '100%', 'margin-top': '2em' }">
              <ng-template pTemplate="item" let-item>
                <p-image [src]="item.itemImageSrc" alt="Image" [width]="!isMobil() ? '470' : responsiveimage()" height="320"></p-image>
              </ng-template>
              <ng-template pTemplate="indicator" let-index>
                  <span style="color: #e9ecef; cursor: pointer">
                      {{ index + 1 }}
                  </span>
              </ng-template>
          </p-galleria>
  
          </div>
      
  
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i> Guardar
          </button>
        </form>
      </ng-container>
      
      <ng-container  *ngIf="!load_form" >
        <div class="text-center">
          <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>            
      </ng-container>
    </div>
  </div>   
</ng-container>
<ng-container *ngIf="!model">
    <div class="wrapper">
        <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
          <app-sidebar></app-sidebar>
          <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
        </div>
        <div class="main-panel">
          <app-navbar></app-navbar>
      
          <div class="main-content">
            <div class="container-fluid">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-auto">
                      <h2>Nueva Ficha Sectorial</h2>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p-toast></p-toast>
                  <ng-container *ngIf="!load_form">
                    <form [formGroup]="fichaSectorialForm" (ngSubmit)="registrarFichaSectorial()">
                      <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" formControlName="descripcion" required>
                      </div>
                      <div class="mb-3">
                        <label for="direccion_geo" class="form-label">Dirección Geográfica</label>
                        <input type="text" class="form-control" id="direccion_geo" name="direccion_geo" formControlName="direccion_geo" required>
                      </div>
                      <div class="mb-3">
                        <label for="estado" class="form-label">Estado de Actividad de Proyecto</label>
                        <select class="form-select" id="estado" name="estado" formControlName="estado" required>
                          <option *ngFor="let estado of estadosActividadProyecto" [value]="estado._id">{{ estado.nombre }}</option>
                        </select>
                      </div>                  
                      <div class="mb-3">
                        <label for="actividad" class="form-label">Actividad de Proyecto</label>
                        <select class="form-select" id="actividad" name="actividad" formControlName="actividad" required>
                          <option *ngFor="let actividad of actividadesProyecto" [value]="actividad._id">{{ actividad.nombre }}</option>
                        </select>
                      </div>                  
                      <div class="mb-3">
                        <label for="fecha_evento" class="form-label">Fecha del Evento</label>
                        <input type="date" class="form-control" id="fecha_evento" name="fecha_evento" formControlName="fecha_evento">
                      </div>
                      <div class="mb-3">
                        <label for="observacion" class="form-label">Observación</label>
                        <textarea class="form-control" id="observacion" name="observacion" formControlName="observacion"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Guardar
                      </button>
                    </form>
                  </ng-container>
               

                  <ng-container  *ngIf="!load_form" >
                    <div class="text-center">
                      <div class="spinner-border text-success" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>            
                  </ng-container>
                </div>
              </div>
            </div>
          </div> 
          
          <div>
            <app-footer></app-footer>
          </div>
        </div>
      </div>
</ng-container>