<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                
                <div class="row row-cols-lg-2">
                    <div class="col-6 text-center">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text" id="inputGroup-sizing-lg">Ubicación</span>
                            <div class="combo-box">
                                <input class="form-control" type="text" placeholder="Selecciona un barrio" aria-label="Number" [formControl]="myControl" (input)="filterOptions($event.target)" (blur)="hideOptions()">
                                <ul *ngIf="lista_feature.length > 0 && showOptions" class="options-list list-group">
                                    <ng-container *ngFor="let option of filter">
                                        <li class="list-group-item" (click)="buscar(option)" *ngIf="option.properties.nombre">{{ option.properties.nombre }}</li>
                                    </ng-container>
                                </ul>
                            </div>                    
                        </div>
                    </div>
                    <div class="col-6 text-truncate text-center">
                        <h6 *ngIf="opcionb">Ubicación Seleccionada:</h6>
                        <h1 *ngIf="opcionb" [ngClass]="{'h2': !isMobile(), 'h4': isMobile()}">
                            <span class="badge bg-secondary">{{opcionb.properties.nombre}} </span>
                        </h1>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-primary mt-3" (click)="reloadmap()">Ver Todos</button>
                    <button *ngIf="opcionb" type="button" class="btn btn-secondary mt-3" (click)="fichaTecnica()">Ficha Técnica</button>
                    <button *ngIf="opcionb" type="button" class="btn btn-secondary mt-3" (click)="nuevoIncidente()">Nuevo Incidente</button>
                </div>
            </div>
            
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mapa de Ubicación</h5>
                <div id="mapid" style="height: 500px;"></div>
            </div>
        </div>
        <ng-container *ngIf="mostrarficha">
            <app-index-ficha-sectorial [filtro]="'direccion_geo'" [valor]="opcionb.properties.nombre" [modal]="true"></app-index-ficha-sectorial>
        </ng-container>
    </div>
</div>

