<p-sidebar 
    [(visible)]="sidebarVisible" 
    id="sidebar"
    (onHide)="sidebarVisible = false"
    
    [fullScreen]="isMobil()? true:false"
    
    [position]="!isMobil()?'right':'null'"
    styleClass="w-30rem"
    role="region"
>
    
<app-stack-incidentes *ngIf="sidebarVisible&&opcionb" [filtro]="'direccion_geo.nombre'" [valor]="opcionb.properties.nombre" [modal]="true"></app-stack-incidentes>
<app-stack-fichas *ngIf="sidebarVisible&&opcionb" [filtro]="'direccion_geo'" [valor]="opcionb.properties.nombre" [modal]="true"></app-stack-fichas>
</p-sidebar>

<div class="main-content "id="mapid" style="min-height: -webkit-fill-available;" >
    <div #mapContainer id="formulario" class="formulario-flotante" style="margin-left: 0%"  (click)="stopPropagation($event)">

      <p-inputGroup [style]="{'height': '50px'}">
        <p-iconField iconPosition="left" >
          <p-inputIcon *ngIf="!isMobil()&&!showCrosshair" (mouseenter)="showCrosshair = true" (mouseleave)="showCrosshair = false" (click)="getLocation()" styleClass="pi pi-search" />
          <p-inputIcon  *ngIf="!isMobil()&&showCrosshair"(mouseenter)="showCrosshair = true" (mouseleave)="showCrosshair = false" (click)="getLocation()" styleClass="pi pi-map-marker" />
          <p-inputIcon *ngIf="isMobil()" (click)="getLocation()">
            <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-crosshair2" viewBox="0 0 16 16">
              <path d="M8 0a.5.5 0 0 1 .5.5v.518A7 7 0 0 1 14.982 7.5h.518a.5.5 0 0 1 0 1h-.518A7 7 0 0 1 8.5 14.982v.518a.5.5 0 0 1-1 0v-.518A7 7 0 0 1 1.018 8.5H.5a.5.5 0 0 1 0-1h.518A7 7 0 0 1 7.5 1.018V.5A.5.5 0 0 1 8 0m-.5 2.02A6 6 0 0 0 2.02 7.5h1.005A5 5 0 0 1 7.5 3.025zm1 1.005A5 5 0 0 1 12.975 7.5h1.005A6 6 0 0 0 8.5 2.02zM12.975 8.5A5 5 0 0 1 8.5 12.975v1.005a6 6 0 0 0 5.48-5.48zM7.5 12.975A5 5 0 0 1 3.025 8.5H2.02a6 6 0 0 0 5.48 5.48zM10 8a2 2 0 1 0-4 0 2 2 0 0 0 4 0"/>
            </svg>
          </p-inputIcon>
          
          <input pInputText placeholder="Username" class="inputmap"   type="text" 
          placeholder="Buscar un barrio" aria-label="Number" [formControl]="myControl" 
          (input)="filterOptions($event.target)" (blur)="hideOptions()" (mousedown)="stopPropagation($event)" (mouseup)="stopPropagation($event)" (touchmove)="stopPropagation($event)" />
         
      
        </p-iconField>
        <p-inputIcon  *ngIf="!capaActivaWIFI && !isMobil()" (click)="activarPopups()" styleClass="pi pi-question" />
        <p-button *ngIf="check.DashboardComponent"
            icon="pi pi-arrow-right" 
            (click)="sidebarVisible = true" 
            [attr.aria-controls]="sidebarVisible ? 'sidebar' : null" 
            [attr.aria-expanded]="sidebarVisible ? true : false"
        ></p-button>

      </p-inputGroup>

        <ul *ngIf="lista_feature.length > 0 && showOptions" class="options-list list-group" style="overflow-y: auto;" (touch)="stopPropagation($event)" (click)="stopPropagation($event)"  (touchmove)="stopPropagation($event)" >
            <ng-container *ngFor="let option of filter">
                <li class="list-group-item" (click)="buscar(option);
                this.borrarmarkas();stopPropagation($event)" (touch)="buscar(option);this.borrarmarkas();stopPropagation($event);" (touchend)="stopPropagation($event);"  (touchstart)="stopPropagation($event);"   *ngIf="option.properties.nombre">{{ option.properties.nombre }}</li>
            </ng-container>
        </ul>
    <!--
         <div class="dropdown" *ngIf="opcionb&&(check.IndexFichaSectorialComponent||check.CreateFichaSectorialComponent)" style="display: inline-block!important" >
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-journal-bookmark-fill"></i> Fichas
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="javascript:void(0)" *ngIf="check.IndexFichaSectorialComponent" (click)="fichaTecnica()">Fichas</a>
                <a class="dropdown-item" href="javascript:void(0)" *ngIf="check.CreateFichaSectorialComponent" (click)="nuevoFicha()">Nueva Ficha</a>
            </div>
        </div>
<div class="dropdown" *ngIf="opcionb" style="display: inline-block!important">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-journal-bookmark-fill"></i> Incidentes
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="javascript:void(0)" *ngIf="check.IndexIncidentesDenunciaComponent" (click)="incidente()">Incidentes</a>
                <a class="dropdown-item" href="javascript:void(0)" *ngIf="!token || check.CreateIncidentesDenunciaComponent" (click)="nuevoIncidente()">Nuevo Incidente</a>
            </div>
        </div>
        *ngIf="opcionb&&(check.IndexFichaSectorialComponent||check.CreateFichaSectorialComponent)"
    -->
    </div>
 
 
  

 
    <!--
 <div #mapContainer2 class="container" id="listarficha" *ngIf="mostrarficha" (click)="stopPropagation($event)" style="max-width: 100% !important;">
        <app-index-ficha-sectorial class="container" id="indexficha"  [filtro]="'direccion_geo'" [valor]="opcionb.properties.nombre" [modal]="true">
        </app-index-ficha-sectorial>
    </div>
     <div #mapContainer2 class="container" id="listarficha" *ngIf="mostrarincidente" (click)="stopPropagation($event)" style="max-width: 100% !important;">
        <app-index-incidentes-denuncia class="container" id="indexficha"  [filtro]="'direccion_geo.nombre'" [valor]="opcionb.properties.nombre" [modal]="true">
        </app-index-incidentes-denuncia>
    </div>
    -->
   

   
    <!-- Modal -->
    <ng-template #modalContent let-modal>
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Seleccionar Ubicación</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"></button>
            </div>
            <div class="modal-body">
                ¿Desea seleccionar una capa georeferenciada? o definir una latitud y longitud exacta?
            </div>
            <div class="modal-footer">
                
            <button type="button" class="btn btn-primary" (click)="modal.close('barrio')">Barrio</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('coordenadas')" data-bs-dismiss="modal">Coordenadas</button>
            </div>
        </div>
      </ng-template>

      <ng-template #modalContentUbicacion let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Confirmar ubicación</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Desea usar su ubicación actual?
        </div>
        <div class="modal-footer">
            
          <button type="button" class="btn btn-primary" (click)="modal.close(true)">Aceptar</button>
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
        </div>
      </ng-template>

      <ng-template #modalCambiodeUbicacion let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Confirmar ubicación</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Desea usar su ubicación actual?
        </div>
        <div class="modal-footer">
            
          <button type="button" class="btn btn-primary" (click)="modal.close(true)">Aceptar</button>
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
        </div>
      </ng-template>

</div>
<div #mapContainer id="formulario" class="formulario-flotante" style="margin-left: 0%; margin-top: 140px;" (click)="stopPropagation($event)" *ngIf="!showOptions && loadspeed">  
  <p-speedDial *ngIf="!showOptions && loadspeed" [model]="items" direction="down" [buttonStyle]="{ 'border-radius': '50%'}">  
  </p-speedDial>      
</div>
<app-index-ficha-sectorial class="container" *ngIf="mostrarficha" id="indexficha"  [filtro]="'direccion_geo'" [valor]="opcionb.properties.nombre" [modal]="true" (click)="stopPropagation($event)" style="z-index: inherit;">
</app-index-ficha-sectorial>
<app-index-incidentes-denuncia class="container" *ngIf="mostrarincidente" id="indexficha"  [filtro]="'direccion_geo.nombre'" [valor]="opcionb.properties.nombre" [modal]="true" (click)="stopPropagation($event)" style="z-index: inherit;">
</app-index-incidentes-denuncia>

