<div id="formulario" class="formulario-flotante" style="margin-left: 0%">
    <div class="input-group mb-3">
        <button class="btn btn-primary" type="button" id="button-addon1" (click)="reloadmap()"><i class="bi bi-eye-fill"></i></button>
        <input class="form-control" type="text" placeholder="Buscar un barrio" aria-label="Number" [formControl]="myControl" (input)="filterOptions($event.target)" (blur)="hideOptions()">
        
        <button *ngIf="opcionb" type="button" class="btn btn-secondary" (click)="fichaTecnica()"><i class="bi bi-journal-bookmark-fill"></i>Fichas</button>
        <button *ngIf="opcionb" type="button" class="btn btn-secondary" (click)="nuevoFicha()"> <i class="bi bi-plus-lg"></i>Ficha</button>
        <button *ngIf="opcionb" type="button" class="btn btn-secondary" (click)="nuevoIncidente()"> <i class="bi bi-exclamation-octagon"></i>Incidente</button>
        <button *ngIf="opcionb" type="button" class="btn btn-secondary" (click)="nuevoIncidente()"> <i class="bi bi-plus-lg"></i>Incidente</button>
    </div>   
        <ul *ngIf="lista_feature.length > 0 && showOptions" class="options-list list-group">
            <ng-container *ngFor="let option of filter">
                <li class="list-group-item" (click)="buscar(option)" *ngIf="option.properties.nombre">{{ option.properties.nombre }}</li>
            </ng-container>
        </ul>
</div>

<div class="container" id="listarficha" *ngIf="mostrarficha">
    <app-index-ficha-sectorial id="formulario" style="width: 97%;bottom: 0;" [filtro]="'direccion_geo'" [valor]="opcionb.properties.nombre" [modal]="true">
    </app-index-ficha-sectorial>
</div>