<div
    class="px-4 py-8 md:px-6 lg:px-8"
    style="
        background: url('assets/signin.jpg') no-repeat;
        background-size: cover;
    "
>
    <p-toast></p-toast>
    <div class="flex flex-wrap">
        <div class="w-full lg:w-6 p-4 lg:p-7 surface-card">
            <form (ngSubmit)="registrarse()" [formGroup]="formulario">
                <div
                class="flex flex-column gap-2 mx-auto"
                style="min-height: 20rem; max-width: 30rem"
            >
                <div
                    class="text-center mt-3 mb-3 text-xl font-semibold"
                >
                    Información de contacto
                </div>
                <div class="field p-fluid">
                    <p-iconField>
                        <p-inputIcon>
                            <i class="pi pi-user"></i>
                        </p-inputIcon>
                        <input
                            formControlName="nombres"
                            pInputText
                            id="nombres"
                            type="text"
                            placeholder="Nombres"
                            required
                        />
                    </p-iconField>
                </div>
                <div class="field p-fluid">
                    <p-iconField>
                        <p-inputIcon>
                            <i class="pi pi-phone"></i>
                        </p-inputIcon>
                        <input
                            formControlName="telefono"
                            pInputText
                            id="telefono"
                            type="text"
                            placeholder="Teléfono"
                            required
                        />
                    </p-iconField>
                </div>
                <div class="field p-fluid">
                    <p-iconField>
                        <p-inputIcon>
                            <i class="pi pi-envelope"></i>
                        </p-inputIcon>
                        <input
                            formControlName="correo"
                            pInputText
                            id="correo"
                            type="email"
                            placeholder="Correo"
                            required
                        />
                    </p-iconField>
                </div>

                <div class="field p-fluid">
                    <p-password
                        styleClass="w-full md:w-30rem mb-5"
                        inputStyleClass="w-full p-3 md:w-30rem"
                        formControlName="password"
                        [toggleMask]="true"
                        placeholder="Password"
                        required
                    />
                </div>
                <div class="flex pt-4 justify-content-between">
                    <p-inputSwitch
                        formControlName="checked"
                        (onChange)="ver()"
                    ></p-inputSwitch>
                    <label for="">
                        Estas de acuerdo con nuestras politicas
                        de seguridad?
                    </label>
                    <p-button
                        icon="pi pi-external-link"
                        label="ver"
                        (click)="llamarmodal()"
                        type="button"
                        [text]="true"
                        [raised]="true"
                    ></p-button>
                </div>
                <div class="flex pt-4 justify-content-between">


                    <p-button
                        [disabled]="
                            !formulario.get('checked').value
                        "
                        label="Enviar"
                        icon="pi pi-check"
                        iconPos="right"
                        type="submit"
                    ></p-button>
                </div>
            </div>
                
            </form>
            <div class="mt-6 text-center text-600">
                <div
                    *ngIf="
                        formulario.get('cedula').invalid &&
                        (formulario.get('cedula').dirty ||
                            formulario.get('cedula').touched)
                    "
                >
                    <p-tag severity="danger">
                        <div class="flex align-items-center gap-2">
                            <i class="pi pi-times text-xs"></i>
                            <span class="text-base">{{
                                getErrorMessage("cedula")
                            }}</span>
                        </div>
                    </p-tag>
                </div>

                <div
                    *ngIf="
                        formulario.get('nombres').invalid &&
                        (formulario.get('nombres').dirty ||
                            formulario.get('nombres').touched)
                    "
                >
                    <p-tag severity="danger">
                        <div class="flex align-items-center gap-2">
                            <i class="pi pi-times text-xs"></i>
                            <span class="text-base">{{
                                getErrorMessage("nombres")
                            }}</span>
                        </div>
                    </p-tag>
                </div>

                <div
                    *ngIf="
                        formulario.get('telefono').invalid &&
                        (formulario.get('telefono').dirty ||
                            formulario.get('telefono').touched)
                    "
                >
                    <p-tag severity="danger">
                        <div class="flex align-items-center gap-2">
                            <i class="pi pi-times text-xs"></i>
                            <span class="text-base">{{
                                getErrorMessage("telefono")
                            }}</span>
                        </div>
                    </p-tag>
                </div>

                <div
                    *ngIf="
                        formulario.get('correo').invalid &&
                        (formulario.get('correo').dirty ||
                            formulario.get('correo').touched)
                    "
                >
                    <p-tag severity="danger">
                        <div class="flex align-items-center gap-2">
                            <i class="pi pi-times text-xs"></i>
                            <span class="text-base">{{
                                getErrorMessage("correo")
                            }}</span>
                        </div>
                    </p-tag>
                </div>

                <div
                    *ngIf="
                        formulario.get('password').invalid &&
                        (formulario.get('password').dirty ||
                            formulario.get('password').touched)
                    "
                >
                    <p-tag severity="danger">
                        <div class="flex align-items-center gap-2">
                            <i class="pi pi-times text-xs"></i>
                            <span class="text-base">{{
                                getErrorMessage("password")
                            }}</span>
                        </div>
                    </p-tag>
                </div>
            </div>

            <div class="mt-6 text-center text-600">
                Ya tienes una cuenta?
                <a
                    tabindex="0"
                    class="font-medium text-blue-500"
                    [routerLink]="'/auth/login'"
                    >Incia sesión</a
                >
            </div>
        </div>
        <div
            class="w-full lg:w-6 p-4 lg:p-7"
            style="background-color: rgba(255, 255, 255, 0.7)"
        >
            <img
                src="assets/icon/logo.png"
                alt="Image"
                height="50"
                class="mb-6"
            />
            <div class="text-xl text-900 font-500 mb-3">
                Bienvido Esmeraldas
            </div>

            <p class="text-600 line-height-3 mt-0 mb-6">
                Su privacidad es importante para nosotros. Los datos que nos
                proporcione son estrictamente confidenciales y no serán
                compartidos con terceros. Solo recopilamos información esencial
                para establecer contacto y brindarle el mejor servicio posible.
            </p>
            <ul class="list-none p-0 m-0">
                <li class="flex align-items-start mb-4">
                    <div>
                        <span
                            class="flex align-items-center justify-content-center bg-purple-400"
                            style="
                                width: 38px;
                                height: 38px;
                                border-radius: 10px;
                            "
                            ><i class="text-xl text-white pi pi-inbox"></i
                        ></span>
                    </div>

                    <div class="ml-3">
                        <span class="font-medium text-900"
                            >Denuncias e Incidentes</span
                        >
                        <p class="mt-2 mb-0 text-600 line-height-3">
                            Esta función está diseñada para recopilar
                            información sobre cualquier inconveniente dentro del
                            poblado, permitiéndonos brindar una rápida respuesta
                            a la ciudadanía.
                        </p>
                    </div>
                </li>
                <li class="flex align-items-start mb-4">
                    <div>
                        <span
                            class="flex align-items-center justify-content-center bg-purple-400"
                            style="
                                width: 38px;
                                height: 38px;
                                border-radius: 10px;
                            "
                            ><i class="text-xl text-white pi pi-shield"></i
                        ></span>
                    </div>
                    <div class="ml-3">
                        <span class="font-medium text-900">Seguridad</span>
                        <p class="mt-2 mb-0 text-600 line-height-3">
                            Nos comprometemos a asegurar sus datos y a no
                            divulgarlos bajo ninguna circunstancia.
                        </p>
                    </div>
                </li>
                <li class="flex align-items-start">
                    <div>
                        <span
                            class="flex align-items-center justify-content-center bg-purple-400"
                            style="
                                width: 38px;
                                height: 38px;
                                border-radius: 10px;
                            "
                            ><i class="text-xl text-white pi pi-globe"></i
                        ></span>
                    </div>
                    <div class="ml-3">
                        <span class="font-medium text-900"
                            >Disponibilidad garantizada</span
                        >
                        <p class="mt-2 mb-0 text-600 line-height-3">
                            Nuestro sitio web está diseñado para garantizar su
                            disponibilidad las 24 horas del día, los 7 días de
                            la semana, para que pueda acceder a él en cualquier
                            momento que lo necesite.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<p-dialog
    header="Cargada de datos"
    [(visible)]="visible"
    [style]="{ width: '50vw' }"
>
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</p-dialog>

<!--
      <p-stepperPanel style="display: none">
                        <ng-template
                            pTemplate="header"
                            let-onClick="onClick"
                            let-index="index"
                        >
                            <button
                                class="bg-transparent border-none inline-flex flex-column gap-2"
                                (onClick)="onClick.emit()"
                            >
                                <span
                                    class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                                    [ngClass]="{
                                        'bg-primary border-primary':
                                            index <= active,
                                        'surface-border': index > active
                                    }"
                                >
                                    <i class="pi pi-image"></i>
                                </span>
                            </button>
                        </ng-template>
                        <ng-template
                            pTemplate="content"
                            let-prevCallback="prevCallback"
                        >
                            <div
                                class="flex flex-column gap-2 mx-auto"
                                style="min-height: 16rem; max-width: 24rem"
                            >
                                <div
                                    class="text-center mt-3 mb-3 text-xl font-semibold"
                                >
                                    Foto de perfil
                                </div>
                                <div
                                    class="flex justify-content-center align-items-center"
                                    style="
                                        height: 200px;
                                        width: 200px;
                                        border-radius: 50%;
                                        border: 2px dashed #ccc;
                                        cursor: pointer;
                                        margin-left: 70px;
                                    "
                                >
                                    <img
                                        *ngIf="
                                            !load_imagen &&
                                            imagenesSeleccionadas
                                        "
                                        [src]="imagenesSeleccionadas"
                                        alt="Descripción de la imagen"
                                        style="
                                            max-width: 100%;
                                            max-height: 100%;
                                            cursor: pointer;
                                        "
                                        (click)="
                                            load_imagen = true;
                                            imagenesSeleccionadas = undefined;
                                            selectedFiles = undefined
                                        "
                                    />
                                    <p-fileUpload
                                        *ngIf="!isMobil() && load_imagen"
                                        mode="basic"
                                        name="demo[]"
                                        [style]="{
                                            'height': '200px',
                                        'width': '200px',
                                        'border-radius': '50%',
                                        'border':' 2px dashed #ccc',
                                        'cursor': 'pointer',
                                        }"
                                        url="https://www.primefaces.org/cdn/api/upload.php"
                                        accept="image/*"
                                        [maxFileSize]="1000000"
                                        (onUpload)="onFilesSelected($event)"
                                        [auto]="true"
                                        chooseLabel=""
                                    ></p-fileUpload>
                                    <p-button
                                        *ngIf="isMobil() && load_imagen"
                                        icon="pi pi-plus"
                                        (click)="tomarFotoYEnviar($event)"
                                    ></p-button>
                                </div>
                                <div class="flex pt-4 justify-content-between">
                                    <p-button
                                        (onClick)="prevCallback.emit()"
                                        label="Atras"
                                        severity="secondary"
                                        icon="pi pi-arrow-left"
                                    ></p-button>
                                    <p-button
                                        label="Enviar"
                                        icon="pi pi-check"
                                        iconPos="right"
                                        type="submit"
                                    ></p-button>
                                </div>
                            </div>
                        </ng-template>
                    </p-stepperPanel>
-->
