<form>
    <div class="mb-3">
      <label for="nombreComponente" class="form-label">Nombre del componente</label>
      <input type="text" class="form-control" id="nombreComponente" name="nombreComponente" [(ngModel)]="nombreComponente" required>
    </div>
    <div class="mb-3">
      <label for="rol" class="form-label">Rol</label>
      <select class="form-select" id="rol" name="rol" [(ngModel)]="rol" required>
        <option *ngFor="let rol of roles" [value]="rol._id">{{ rol.nombre }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="permisos" class="form-label">Permisos</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="crear" name="permisos" value="crear" [(ngModel)]="permisos" (change)="onCheckboxChange($event)">
        <label class="form-check-label" for="crear">Crear</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="editar" name="permisos" value="editar" [(ngModel)]="permisos" (change)="onCheckboxChange($event)">
        <label class="form-check-label" for="editar">Editar</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="eliminar" name="permisos" value="eliminar" [(ngModel)]="permisos" (change)="onCheckboxChange($event)">
        <label class="form-check-label" for="eliminar">Eliminar</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="ver" name="permisos" value="ver" [(ngModel)]="permisos" (change)="onCheckboxChange($event)">
        <label class="form-check-label" for="ver">Ver</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
  