<ng-container *ngIf="model">
    <p-toast></p-toast>
    <div class="modal-header">
        <div
            class="inline-flex align-items-center justify-content-center gap-2"
        >
            <h2 class="modal-title">Nueva Ficha Sectorial</h2>
        </div>
    </div>
    <div class="card">
        <ng-container *ngIf="load_form">
            <form
                [formGroup]="fichaSectorialForm"
                (ngSubmit)="registrarFichaSectorial()"
            >
                <div class="grid">
                    <div class="mb-3">
                        <h4 for="direccion_geo" class="form-label">
                            Dirección Geográfica:
                            {{ fichaSectorialForm.get("direccion_geo").value }}
                        </h4>
                    </div>
                </div>

                <div class="grid">
                    <div class="p-col-12 p-md-6">
                        <div class="mb-3">
                            <h4 for="actividad" class="form-label">
                                Actividad de Proyecto
                            </h4>
                            <p-dropdown
                                placeholder="Selecciona una Actividad"
                                id="actividad"
                                name="actividad"
                                formControlName="actividad"
                                [options]="actividadesProyecto"
                                optionLabel="nombre"
                            ></p-dropdown>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-6">
                        <div class="mb-3">
                            <h4 for="fecha_evento" class="form-label">
                                Fecha del Evento:
                            </h4>
                            <p-calendar
                                [touchUI]="isMobil()"
                                [readonlyInput]="isMobil()"
                                id="fecha_evento"
                                name="fecha_evento"
                                formControlName="fecha_evento"
                                [showTime]="true"
                                [showIcon]="true"
                                appendTo="body"
                                inputId="buttondisplay"
                            ></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="p-col-12 p-md-6">
                        <div class="mb-3">
                            <h4 for="estado" class="form-label">
                                Estado de Actividad de Proyecto
                            </h4>
                            <p-dropdown
                                placeholder="Selecciona un estado"
                                id="estado"
                                name="estado"
                                formControlName="estado"
                                [options]="estadosActividadProyecto"
                                optionLabel="nombre"
                            ></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="p-col-12 p-md-6">
                        <div class="mb-3">
                            <h4 for="descripcion" class="form-label">
                                Descripción
                            </h4>
                            <textarea
                                rows="5"
                                cols="25"
                                pInputTextarea
                                id="descripcion"
                                name="descripcion"
                                formControlName="descripcion"
                                required
                            ></textarea>
                        </div>
                    </div>

                    <!--
 <div class="p-col-12 p-md-6">
                        <div class="mb-3">
                            <h4 for="observacion" class="form-label">
                                Observación
                            </h4>
                            <textarea
                                rows="5"
                                cols="25"
                                pInputTextarea
                                class="form-control"
                                id="observacion"
                                name="observacion"
                                formControlName="observacion"
                            ></textarea>
                        </div>
                    </div>
                    -->
                </div>
                <div class="mb-3" *ngIf="!isMobil() && upload">
                    <p-fileUpload
                        chooseLabel="Seleccionar"
                        uploadLabel="Cargar"
                        cancelLabel="Cancelar"
                        name="demo[]"
                        url="https://www.primefaces.org/cdn/api/upload.php"
                        (onUpload)="onFilesSelected($event)"
                        [multiple]="true"
                        accept="image/*"
                        [maxFileSize]="5000000"
                        [fileLimit]="5 - selectedFiles.length"
                        invalidFileLimitMessageSummary="Se superó el número máximo de archivos"
                    >
                        <ng-template pTemplate="content">
                            <ul *ngIf="selectedFiles.length">
                                <li
                                    *ngFor="
                                        let itemfile of selectedFiles;
                                        let i = index
                                    "
                                >
                                    {{ itemfile.name }} -
                                    {{ itemfile.size }} bytes
                                </li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                <div class="mb-3" *ngIf="isMobil() && upload">
                    <h4 for="formFileMultiple" class="form-label">
                        Añade fotos:
                        <p-button
                            id="fotoButton"
                            icon="pi bi-camera2-custom"
                            [raised]="true"
                            [outlined]="true"
                            label="Añadir nueva Foto"
                            (click)="tomarFotoYEnviar($event)"
                        ></p-button>
                    </h4>
                </div>
                <div class="mb-3" *ngIf="load_carrusel">
                    <p-button
                        class="m-3"
                        *ngIf="imagenesSeleccionadas.length > 0"
                        icon="pi bi-box-arrow-up-right"
                        [raised]="true"
                        [outlined]="true"
                        label="Ver Fotos"
                        (click)="imageClick(0)"
                    ></p-button>

                    <p-button
                        class="m-3"
                        *ngIf="imagenesSeleccionadas.length > 0"
                        label="Borrar Fotos"
                        severity="warning"
                        (onClick)="
                            upload = true;
                            imagenesSeleccionadas = [];
                            selectedFiles = []
                        "
                        icon="pi pi-trash"
                    ></p-button>

                    <p-galleria
                        [value]="imagenesSeleccionadas"
                        [(visible)]="displayCustom"
                        [(activeIndex)]="activeIndex"
                        [responsiveOptions]="responsiveOptions"
                        [containerStyle]="{ 'max-width': '850px' }"
                        [numVisible]="7"
                        [circular]="true"
                        [fullScreen]="true"
                        [showItemNavigators]="true"
                        [showThumbnails]="false"
                    >
                        <ng-template pTemplate="item" let-item>
                            <img
                                [src]="item.itemImageSrc"
                                style="width: 60%; display: block"
                            />
                        </ng-template>
                    </p-galleria>
                </div>
                <p-button
                    label="Crear Ficha"
                    icon="bi bi-save"
                    (click)="registrarFichaSectorial()"
                ></p-button>
            </form>
        </ng-container>
        <ng-container *ngIf="!load_form">
            <div class="text-center">
                <div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Cargando...</span>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>
