<!--
    opcionb?url+'helper/obtener_portada_barrio/'+opcionb.id :
-->

<ng-template #infoWindowTemplate let-feature="feature">
    <p-card
        [header]="feature.properties.nombre"
        [subheader]="
            feature.properties.parr ||
            feature.properties.obser ||
            feature.properties.tipo
                ? 'Información de barrio:'
                : ''
        "
    >
        <ng-template pTemplate="header">
            <img
                [src]="url_imag"
                alt="Descripción de la imagen"
                class="imagen-popup"
                style="width: 100%; height: 150px; object-fit: cover"
            />
        </ng-template>
        <ng-container *ngIf="feature.properties">
            <div *ngIf="feature.properties.parr">
                Parroquia: {{ feature.properties.parr }}
            </div>
        </ng-container>
    </p-card>
</ng-template>

<!--
 <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt quisquam repellat libero
        asperiores earum nam nobis, culpa ratione quam perferendis esse,
        cupiditate neque quas!
    </p>
    -->

<p-stepper>
    <p-stepperPanel header="Categoría">
        <ng-template
            pTemplate="content"
            let-nextCallback="nextCallback"
            let-index="index"
        >
            <div
                class="surface-section px-4 py-8 md:px-6 lg:px-8 overflow-hidden"
            >
                <div class="button-container-categoria">
                    <div
                        class="cube-categoria mt-3 mb-3"
                        *ngFor="let categoria of categorias"
                    >
                        <div class="cube-face-categoria cube-front-categoria">
                            <img
                                [src]="getIconPath(categoria)"
                                alt="{{ categoria.nombre }}"
                                class="custom-icon-categoria"
                            />
                            <p>{{ categoria.nombre }}</p>
                        </div>
                        <div class="cube-face-categoria cube-back-categoria">
                            <p>{{ categoria.descripcion }}</p>
                            <p-button
                                class="mt-3"
                                *ngIf="categoria"
                                (click)="
                                    onCategoriaClick(categoria);
                                    nextCallback.emit()
                                "
                                [label]="categoria.nombre"
                            >
                            </p-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex pt-4 justify-content-end">
                <p-button
                    label="Siguiente"
                    icon="pi pi-arrow-right"
                    iconPos="right"
                    [disabled]="!visible_subcategoria"
                    (onClick)="nextCallback.emit()"
                />
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Sub-Categoría">
        <ng-template
            pTemplate="content"
            let-prevCallback="prevCallback"
            let-nextCallback="nextCallback"
            let-index="index"
        >
            <div style="overflow: hidden">
                <!-- Asegurándonos de que no haya desplazamiento -->
                <p-table [value]="subcategorias">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                {{ incidencia.get("categoria").value.nombre }}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr
                            (click)="
                                onSubCategoriaClick(product);
                                nextCallback.emit();
                                recargarmapa()
                            "
                        >
                            <td
                                style="
                                    word-wrap: break-word;
                                    white-space: normal;
                                    overflow-wrap: break-word;
                                "
                            >
                                {{ product.nombre }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="flex pt-4 justify-content-between">
                <p-button
                    label="Atrás"
                    icon="pi pi-arrow-left"
                    (onClick)="prevCallback.emit()"
                />
                <p-button
                    label="Siguiente"
                    icon="pi pi-arrow-right"
                    iconPos="right"
                    [disabled]="!visible_map"
                    (onClick)="nextCallback.emit(); recargarmapa()"
                />
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Ubicación">
        <ng-template
            pTemplate="content"
            let-nextCallback="nextCallback"
            let-prevCallback="prevCallback"
            let-index="index"
        >
            <div class="grid p-fluid">
                <div class="col-12">
                    <div [style.display]="'none'">
                        <div
                            #formulariomap
                            class="card flex justify-content-center"
                        >
                            <p-autoComplete
                                appendTo="body"
                                [(ngModel)]="query"
                                [suggestions]="predictions"
                                (completeMethod)="search($event)"
                                field="description"
                                placeholder="Ingresa una dirección o referencia"
                                [forceSelection]="true"
                                (onSelect)="imprimir(query)"
                            >
                            </p-autoComplete>
                        </div>
                    </div>

                    <div *ngIf="!load_fullscreen" class="card flex">
                        <span class="p-float-label">
                            <p-autoComplete
                                appendTo="body"
                                [(ngModel)]="query"
                                [suggestions]="predictions"
                                (completeMethod)="search($event)"
                                field="description"
                                placeholder=""
                                [forceSelection]="true"
                                (onSelect)="imprimir(query)"
                                [inputStyle]="{
                                    width: isMobil()
                                        ? responsiveimage()
                                        : '400px'
                                }"
                            >
                            </p-autoComplete>
                            <label for="float-label"
                                >Ingresa una dirección o referencia
                            </label>
                        </span>
                    </div>

                    <div class="card" id="map2" style="min-height: 50rem"></div>
                    <div [style.display]="'none'">
                        <div class="controls fullscreen-control">
                            <button
                                title="Toggle Fullscreen"
                                class="fullscreen-button"
                            >
                                <img
                                    src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%200v6h2V2h4V0H0zm16%200h-4v2h4v4h2V0h-2zm0%2016h-4v2h6v-6h-2v4zM2%2012H0v6h6v-2H2v-4z%22/%3E%3C/svg%3E"
                                    alt=""
                                    style="height: 18px; width: 18px"
                                    class="normal-image"
                                />
                                <img
                                    src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%200v6h2V2h4V0H0zm16%200h-4v2h4v4h2V0h-2zm0%2016h-4v2h6v-6h-2v4zM2%2012H0v6h6v-2H2v-4z%22/%3E%3C/svg%3E"
                                    alt=""
                                    style="height: 18px; width: 18px"
                                    class="hover-image"
                                />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex pt-4 justify-content-between">
                <p-button
                    label="Atrás"
                    icon="pi pi-arrow-left"
                    (onClick)="prevCallback.emit()"
                />
                <p-button
                    label="Siguiente"
                    icon="pi pi-arrow-right"
                    iconPos="right"
                    [disabled]="!visible_map"
                    (onClick)="nextCallback.emit()"
                />
            </div>
        </ng-template>
    </p-stepperPanel>

    <p-stepperPanel header="Incidente">
        <ng-template
            pTemplate="content"
            let-prevCallback="prevCallback"
            let-index="index"
        >
            Describre tu problema
            <div class="flex pt-4 justify-content-start">
                <p-button
                    label="Atrás"
                    icon="pi pi-arrow-left"
                    (onClick)="prevCallback.emit(); recargarmapa()"
                />
            </div>
        </ng-template>
    </p-stepperPanel>
</p-stepper>
