
.form-control {
    //padding: 1.25rem 0.75rem !important;
    padding: 1.375rem 1.75rem !important;
}
.btn {
    margin-top: 0% !important;
}
@media only screen and (max-width: 430px) {
    .leaflet-top {
      top: auto !important;
      bottom: 20px !important;
      z-index: 999 !important;
    }
    .leaflet-bottom{
      z-index: 998 !important;
    }
  }
  