
.form-control {
    //padding: 1.25rem 0.75rem !important;
    padding: 0.375rem 0.75rem !important;
}
.btn {
    margin-top: 0% !important;
}
@media only screen and (max-width: 429px) {
    .leaflet-top.leaflet-right {
      top: 60px !important;
    }
  }
  