
/*.form-control {
    //padding: 1.25rem 0.75rem !important;
    padding: 1.375rem 1.75rem !important;
}*/
.btn {
    margin-top: 0% !important;
}
@media only screen and (max-width: 700px) {
    .leaflet-top {
      top: auto !important;
      bottom: 20px !important;
      z-index: 999 !important;
    }
    .leaflet-bottom{
      z-index: 998 !important;
    }
  }
  .file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .file-upload-input {
    height: max-content !important;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 10% 80px !important;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .file-upload-label {
    display: inline-block;
    padding: 10% 80px;
    background-color: #4caf5069;
    color: #0e663e;
    border-radius: 17px;
    cursor: pointer;
    border: 2px dashed #4caf4ffd; /* Borde rayado de color gris claro */
  }
  
  .file-upload-label.hover {
    background-color: #4caf50;
  }
  
  
  .cambiarColor {
    fill: rgb(72, 197, 68); /* Cambia el color a rojo, puedes usar cualquier color válido aquí */
  }
  