<ng-container *ngIf="model">
    <p-toast></p-toast>
    <div class="modal-header">
        <div
            class="inline-flex align-items-center justify-content-center gap-2"
        >
            <h2 class="modal-title">
                Nuevo Incidente o Denuncia :
                <span>{{ nuevoIncidenteDenuncia.direccion_geo.nombre }}</span
                >/<span *ngIf="geolocation">{{
                    geolocation.address.road
                }}</span>
            </h2>
        </div>
    </div>
    <div class="card">
        <form
            [formGroup]="nuevoIncidenteDenuncia"
            (ngSubmit)="crearIncidenteDenuncia()"
            *ngIf="load_form"
        >
            <div class="mb-3">
                <h4 for="categoria" class="form-label">Categoría</h4>
                <p-dropdown
                    placeholder="Selecciona una Categoría"
                    appendTo="body"
                    id="categoria"
                    [options]="categorias"
                    formControlName="categoria"
                    optionLabel="nombre"
                    [required]="true"
                    (onChange)="selectcategoria()"
                >
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2">
                            <div>
                                {{
                                    nuevoIncidenteDenuncia.get("categoria")
                                        ?.value?.nombre
                                }}
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ item.nombre }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="mb-3" *ngIf="subcategorias.length > 0">
                <h4 for="subcategoria" class="form-label">Subcategoría</h4>
                <p-dropdown
                    placeholder="Selecciona una SubCategoría"
                    appendTo="body"
                    id="subcategoria"
                    name="subcategoria"
                    [options]="subcategorias"
                    formControlName="subcategoria"
                    optionLabel="nombre"
                    [required]="true"
                ></p-dropdown>
            </div>

            <div class="mb-3">
                <h4 for="descripcion" class="form-label">Descripción</h4>
                <textarea
                    pInputTextarea
                    id="descripcion"
                    name="descripcion"
                    class="form-control"
                    cols="50"
                    rows="10"
                    formControlName="descripcion"
                    required
                ></textarea>
            </div>

            <div class="mb-3" *ngIf="!isMobil() && !upload">
                <p-button
                    *ngIf="imagenesSeleccionadas.length > 0"
                    label="Borrar Fotos"
                    severity="warning"
                    (onClick)="
                        upload = true;
                        imagenesSeleccionadas = [];
                        selectedFiles = []
                    "
                    icon="pi pi-trash"
                ></p-button>
            </div>
            <div
                class="mb-3"
                *ngIf="
                    (imagenesSeleccionadas.length < 3 || upload) && !isMobil()
                "
            >
                <p-fileUpload
                    chooseLabel="Seleccionar"
                    uploadLabel="Cargar"
                    cancelLabel="Cancelar"
                    name="demo[]"
                    url="https://www.primefaces.org/cdn/api/upload.php"
                    (onUpload)="onFilesSelected($event)"
                    [multiple]="true"
                    accept="image/*"
                    [maxFileSize]="5000000"
                    [fileLimit]="3"
                    invalidFileLimitMessageSummary="Se superó el número máximo de archivos"
                >
                    <ng-template pTemplate="content">
                        <ul *ngIf="selectedFiles.length">
                            <li
                                *ngFor="
                                    let itemfile of selectedFiles;
                                    let i = index
                                "
                            >
                                {{ itemfile.name }} - {{ itemfile.size }} bytes
                            </li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>
            <div class="mb-3" *ngIf="isMobil()">
                <h4 for="formFileMultiple" class="form-label">Añade fotos</h4>

                <p-button
                    *ngIf="imagenesSeleccionadas.length < 3 || upload"
                    id="fotoButton"
                    icon="pi bi-camera2-custom"
                    [raised]="true"
                    [outlined]="true"
                    label="Añadir nueva Foto"
                    (click)="tomarFotoYEnviar($event)"
                ></p-button>

                <p-button
                    *ngIf="imagenesSeleccionadas.length > 0"
                    label=""
                    severity="warning"
                    (onClick)="
                        upload = true;
                        imagenesSeleccionadas = [];
                        selectedFiles = []
                    "
                    icon="pi pi-trash"
                ></p-button>
            </div>
            <div class="mb-3" *ngIf="mostrargale">
                <p-galleria
                    [value]="imagenesSeleccionadas"
                    [showIndicators]="true"
                    [showThumbnails]="false"
                    [showIndicatorsOnItem]="true"
                    indicatorsPosition="left"
                    [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{
                        'max-width': '100%',
                        'margin-top': '2em'
                    }"
                >
                    <ng-template pTemplate="item" let-item>
                        <p-image
                            [src]="item.itemImageSrc"
                            alt="Image"
                            [width]="!isMobil() ? '470' : responsiveimage()"
                            height="320"
                        ></p-image>
                    </ng-template>
                    <ng-template pTemplate="indicator" let-index>
                        <span style="color: #e9ecef; cursor: pointer">
                            {{ index + 1 }}
                        </span>
                    </ng-template>
                </p-galleria>
            </div>
            <div class="mb-3">
                <p-button
                    label="Crear Incidente o Denuncia"
                    (click)="crearIncidenteDenuncia()"
                >
                </p-button>
            </div>
        </form>
        <ng-container *ngIf="!load_form">
            <div class="text-center">
                <div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Cargando...</span>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>
