
  <ng-container *ngIf="model">
    <div class="main-content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-auto">
                  <h2>Listado de Incidentes y Denuncias</h2>
                </div>
                <div class="col-6">
                    
                    <button class="btn btn-primary" (click)="abrirSegundoModal()"><i class="bi bi-plus-square-dotted"></i> Nuevo</button>                    
                </div>
              </div>
            </div>
            <div class="card-body">
              <p-toast></p-toast>
              <div class="table-responsive-sm">
                <p-table class="table table-sm align-middle table-striped table-hover" [value]="incidentesDenuncias" dataKey="_id" editMode="row" [tableStyle]="{'min-width': '5rem'}">
                  <ng-template pTemplate="header">
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Orden</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-incidenteDenuncia let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="incidenteDenuncia">
                      <td>
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="incidenteDenuncia.nombre" required class="form-control">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{incidenteDenuncia.nombre}}
                          </ng-template>
                        </p-cellEditor>
                      </td>
                      <td>
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="incidenteDenuncia.orden" required class="form-control">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{incidenteDenuncia.orden}}
                          </ng-template>
                        </p-cellEditor>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
</ng-container>
<ng-container *ngIf="!model">
    <div class="wrapper">
        <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
          <app-sidebar></app-sidebar>
          <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
        </div>
        <div class="main-panel">
          <app-navbar></app-navbar>
          <div class="main-content">
            <div class="container-fluid">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-auto">
                      <h2>Listado de Incidentes y Denuncias</h2>
                    </div>
                    <div class="col-6">
                      <a routerLink="/create-estado-incidente" class="btn btn-primary float-end">Nuevo Estado</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p-toast></p-toast>
                  <div class="table-responsive-sm">
                    <p-table class="table table-sm align-middle table-striped table-hover" [value]="incidentesDenuncias" dataKey="_id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
                      <ng-template pTemplate="header">
                        <tr>
                          <th scope="col">Nombre</th>
                          <th scope="col">Orden</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-incidenteDenuncia let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="incidenteDenuncia">
                          <td>
                            <p-cellEditor>
                              <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="incidenteDenuncia.nombre" required class="form-control">
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{incidenteDenuncia.nombre}}
                              </ng-template>
                            </p-cellEditor>
                          </td>
                          <td>
                            <p-cellEditor>
                              <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="incidenteDenuncia.orden" required class="form-control">
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{incidenteDenuncia.orden}}
                              </ng-template>
                            </p-cellEditor>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </div>     
          <div>
            <app-footer></app-footer>
          </div>
        </div>
      </div>
</ng-container>
